<section class="wrap" id="how-it-works">
    <div class="flex items-center justify-center pt4">
        <h2 class="f2 fw9">
            We Save Homes and families from foreclose
        </h2>
    </div>
</section>
<%#  %>
<section class="background-002">
    <div class="wrap mb2">
        <div class="flex justify-center flex-wrap items-center pv4">
            <%#  %>
            <div class="w-100 w-50-ns pr4-ns tc">
                <img class="lozad br-100" data-src="/images/site/Jesse-Keenan.jpeg" alt="Jesse Keenan" title="Jesse Keenan" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
            </div>
            <%#  %>
            <div class="flex justify-center flex-column w-100 w-50-ns pv4 ph2">
                <h3 class="f3">
                    What can I do to save my home?
                </h3>
                <p class="lh-copy fw4 f4">
                    Jesse Keenan lets people know that there are other options besides, buying your home, short sell, bankruptcy or foreclosure.  Contact Jesse Keenan to save your home. Once the property has sold at the auction, the investor's waste no time in securing their investment and evicting the current tenant. The investors are professionals at getting people out of their homes once purchased at the auction.
                </p>
                <div class="tl tc">
                    <%= current_link_to "Schedule a Free Consultation", data.links.page_consultation, class: "btn btn-d pv3 ph4 f3", title: "Free Consultation", aria_current: "current" %>
                </div>
            </div>
        </div>
    </div>
</section>
<%#  %>
<section class="wrap" id="how-it-works">
    <div class="flex items-center justify-center pt4">
        <h2 class="f2 fw9">
            Don't wait until its too late, we can help you.
        </h2>
    </div>
</section>
<section class="background-001-rev">
    <div class="wrap">
        <div class="flex justify-center flex-wrap items-center flex-row-reverse-ns pv4">
            <%#  %>
            <div class="w-100 w-50-ns pl4-ns tc">
                <h3 class="f3">
                    Contact us today if you need help
                </h3>
                <img class="lozad br4" data-src="/images/site/home.jpg" alt="Jesse Keenan" title="Jesse Keenan" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
            </div>
            <%#  %>
            <div class="flex justify-center flex-column w-100 w-50-ns ph2">
                <div class="small-form">
                    <%= partial "partials/parts/contact_form" %>
                </div>
            </div>
        </div>
    </div>
</section>
<%#  %>
<div class="bg-blue white">
    <%= partial "partials/home/steps" %>
</div>
<%#  %>
<section class="background-001">
    <div class="wrap mt5">
        <div class="flex justify-center flex-wrap items-center flex-row-reverse-ns pb4">
            <%#  %>
            <div class="w-100 w-50-ns pr4-ns tc">
                <img class="lozad br-100" data-src="/images/site/how-to-save-your-home.jpeg" alt="Need To File Bankruptcy" title="Need To File Bankruptcy" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
            </div>   
            <%#  %>
            <div class="flex justify-center flex-column w-100 w-50-ns pv4 ph2 tc">
                <h3 class="f3">
                    We offer free bankruptcy to our clients. 
                </h3>
                <p class="lh-copy fw4 f4">
                    If you find yourself in an unfamiliar situation and are not sure what to do, we have several different ways to help you get back on your feet and keep your home. You have a choice at this point and time in the foreclosure process, you might not want to miss this opportunity to get things handled. Take the first step in getting your  life back on track and schedule a meeting with Jesse Keenan today. 
                </p>
                <div class="tl tc">
                    <%= current_link_to "Schedule a Free Consultation", data.links.page_consultation, class: "btn btn-d pv3 ph4 f3", title: "Free Consultation", aria_current: "current" %>
                </div>
            </div>    
        </div>
    </div>
</section>