<section class="wrap">
    <div class="flex flex-wrap items-center justify-center pt4">
        <h2 class="f2 fw9 tc">
            WE CAN HELP YOU FIND ANOTHER WAY
        </h2>
        <p class="lh-copy f3 tc mt0">
            Here at "We Save Homes" we don't treat you like a number, we understand that this is a difficult time for your and your loved ones.  We know that moving is sometimes not an option.
        </p>
    </div>
</section>
<%#  %>
<section class="wrap">
    <div class="flex flex-wrap justify-center">
        <div class="w-100 w-33-m w-25-ns tc ph2">
            <div class="border-hover-d br3 flex flex-column h-100">
                <div class="relative z-1 mt1 icon-100-auto">
                    <div class="">
                        <div class="ResponsiveMedia">
                            <div class="YouTubeLazyLoad" data-id="y5RjGVW9Yyw">
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="lh-copy relative z-1 h-100 flex justify-center align-center pv2 fw4 f5">
                    <h3>Foreclosure Prevention - Las Vegas</h3>
                </div>
            </div>
        </div>
        <div class="w-100 w-33-m w-25-ns tc ph2">
            <div class="border-hover-d br3 flex flex-column h-100">
                <div class="relative z-1 mt1 icon-100-auto">
                    <div class="">
                        <div class="ResponsiveMedia">
                            <div class="YouTubeLazyLoad" data-id="tZdq5tPqkUE">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lh-copy relative z-1 h-100 flex justify-center align-center pv2 fw4 f5">
                    <h3>Foreclosure Alternatives in Nevada</h3>
                </div>
            </div>
        </div>
        <div class="w-100 w-33-m w-25-ns tc ph2">
            <div class="border-hover-d br3 flex flex-column h-100">
                <div class="relative z-1 mt1 icon-100-auto">
                    <div class="">
                        <div class="ResponsiveMedia">
                            <div class="YouTubeLazyLoad" data-id="Y3q-e-krXyU">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lh-copy relative z-1 h-100 flex justify-center align-center pv2 fw4 f5">
                    <h3>Get a loan to save your home</h3>
                </div>
            </div>
        </div>
    </div>
</section>