# MOVE PERMANENTLY
Redirect 301 /old-url.html http://www.example.com/new-url.html
Redirect 301 /another/url.html http://www.example.com/new/
Redirect 301 /old-directory/ http://www.example.com/new-directory/

# REWRITE - redirect to www. page
RewriteEngine on
RewriteCond %{HTTP_HOST} ^example.com$
RewriteRule (.*) http://www.example.com/$1 [R=301,L]

# ERROR DOCUMENTS
ErrorDocument 401 Unauthorized access
ErrorDocument 404 /404.html

# GZIP, CACHE
AddType image/x-icon .ico

ExpiresActive on
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/ico "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 month"
ExpiresByType text/html "access plus 1 minute"
ExpiresByType text/css "access plus 7 days"
ExpiresByType application/javascript "access plus 7 days"
ExpiresByType text/javascript "access plus 7 days"

<FilesMatch "\\.(js|css|html|ico|png)$">
    SetOutputFilter DEFLATE
</FilesMatch>