<section>
  <div class="cover bg-center lozad" data-background-image="/images/banner/save-your-home.jpg">
    <div class="bg-black-40 pv5">
      <div class="wrap tc">
        <h2 class="f1 fw4 white mb0 lh-title ph4">
          Approximately 100 to 300 homes go to foreclosure each month here in Las Vegas
        </h2>
        <div class="mv4">
          <%= current_link_to "Contact Us Today", "sms:" + data.site.site_phone, class: "btn btn-d pv3 ph4 f3", title: "Text Us Today" %>
        </div>
      </div>
    </div>
  </div> 
</section>