<section class="">
    <div class="pt3 pb3 flex justify-center items-center hero01">
      <div class="ph3 flex flex-wrap flex-row w-100 wrap">
      <div class="w-100">
        <h4 class="header-1 ma0 mb5 tc">
            we have seven ways to stop foreclosure
        </h4> 
      </div>
        <div class="w-100 w-50-ns pt4 pb0 pb4-ns flex flex-column pr3 order-4 order-3-ns order-3-m">
            <h1 class="f1 fw5 orange mb1 mt0 ">
                We Save Homes in Las Vegas, Nevada
            </h1>
            <h2 class="fw4 f3 black mt3 mb0 mb4-ns lh-copy">
              Let us pay for your Bankruptcy, contact us to answer all your questions...
            </h2>
            <div class="flex justify-center items-center">
                <%# <%= current_link_to " " + "Email Me", "mailto:" + data.site.site_email, class: "btn btn-od pv2 ph4 f3 flex mh1", title: data.site.site_email %>
                <%# <span class="f3">or</span> %>
                <%# <%= current_link_to " " + "Text Me", "sms:" + data.site.site_phone, class: "btn btn-od pv2 ph4 f3 flex mh1", title: data.site.site_phone %>
            </div>         
        </div>
        <div class="w-100 w-50-ns order-3 order-4-ns order-4-m">
          <div class="ResponsiveMedia shadow-2">
            <div class="YouTubeLazyLoad" data-id="uqWlcQGST5w">
            </div>
          </div>
        </div>
      </div>
    </div>
</section>