<section class="flex flex-wrap justify-center wrap">
    <%#  %>
    <div class="w-20-ns w-33 ph3 pv4">
        <div class="object-contain max-h-50">
            <img class="lozad" data-src="/images/logos/CNN.svg" alt="CNN News" title="CNN News" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
        </div>
    </div>
    <%#  %>
    <div class="w-20-ns w-33 ph3 pv4">
        <div class="object-contain max-h-50">
            <img class="lozad" data-src="/images/logos/Forbes.svg" alt="Forbes" title="Forbes" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
        </div>
    </div>
    <%#  %>
    <div class="w-20-ns w-33 ph3 pv4">
        <div class="object-contain max-h-50">
            <img class="lozad" data-src="/images/logos/Good-Morning-America.svg" alt="Good Morning America" title="Good Morning America" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
        </div>
    </div>
    <%#  %>
    <div class="w-20-ns w-33 ph3 pv4">
        <div class="object-contain max-h-50">
            <img class="lozad" data-src="/images/logos/New-York-Times.svg" alt="New York Times" title="New York Times" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
        </div>
    </div>
    <%#  %>
    <div class="w-20-ns w-33 ph3 pv4">
        <div class="object-contain max-h-50">
            <img class="lozad" data-src="/images/logos/The-Huffington-Post.svg" alt="The Huffington Post" title="The Huffington Post" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
        </div>
    </div>
</section>