<section class="">
    <div class="wrap pt6 pb6">
      <div class="tc-l ph3">
        <h3 class="f2 f1-l fw2 mb0 mt0 lh-title"><%= "#{header}" %></h3>
        <h4 class="fw1 f3 mt3 mb4"><%= "#{subHeader}" %></h4>
        <div>
            <a class="f6 no-underline grow dib v-mid bg-blue white ba b--blue ph3 pv2 mb3" href="/">
                <%= "#{actionText}" %>
            </a>            
        </div>
      </div>
    </div>
</section>

