<div class="dt center">
  <div class="db dtc-ns v-mid ph2 pr0-ns pl3-ns w-100 w-40-ns">
    <h3><%= "#{header}" %></h3>
    <p class="lh-copy">
        <%= "#{text}" %>
    </p>
  </div>
  <div class="db dtc-ns v-mid-ns w-100 w-60-ns cover bg-center min-h-250" style="background-image: url(<%= "#{flagImage}" %>)">
  </div>
</div>
