<section class="cover bg-left bg-center-l vh-50" style="background-image: url(<%= "#{backgroundImage}" %>)">
    <div class="bg-black-60 pt6 pb6 vh-50 flex items-center justify-center">
      <div class="tc-l ph3">
        <h1 class="f2 f1-l fw9 white-90 mb0 mt0 lh-title"><%= "#{header}" %></h1>
        <h2 class="fw4 f3 white-80 mt3 mb4"><%= "#{subHeader}" %></h2>
      </div>
    </div>
</section>