<section class="cover bg-left bg-center-l" style="background-image: url(<%= "#{backgroundImage}" %>)">
    <div class="bg-black-60 pv5">
      <div class="wrap tc-l">
        <h1 class="f1 fw5 white mb1 mt0 ">
          <%= "#{header}" %>
        </h1>
        <h2 class="fw4 f3 white mt3 mb4 lh-copy">
          <%= "#{subHeader}" %>
        </h2>
      </div>
    </div>
</section>