<%# %>
<section class="wrap">
    <div>
         <h3 class="f2 fw9 tc">
            Let us <span class="blue">help</span> you take control of this <span class="blue">situation</span>!
        </h3>
    </div>
    <%#  %>
    <%# <%= partial "partials/parts/the-3-steps-steps" %>
</section>