<section class="wrap">
    <div class="dt dt--fixed">
        <div class="dtc tc pv4 the-home-steps">
            <span class="the-steps-icon">
                <%= partial "partials/assets/svg/love.svg" %>
            </span>
            <span class="the-steps-title">
                Browse Thousands of Verified Members
            </span>
            <p>this is text that we need to come up with, and we need titles and images. </p>
        </div>
        <div class="dtc tc pv4 the-home-steps">
            <span class="the-steps-icon">
                <%= partial "partials/assets/svg/chat.svg" %>
            </span>
            <span class="the-steps-title">
                Instantly Propose Meet and Greets
            </span>
            <p>this is text that we need to come up with, and we need titles and images. </p>
        </div>
        <div class="dtc tc pv4 the-home-steps">
            <span class="the-steps-icon">
                <%= partial "partials/assets/svg/date.svg" %>
            </span>
            <span class="the-steps-title">
                Meet in Person to discuss allowance and benefits
            </span>
            <p>this is text that we need to come up with, and we need titles and images. </p>
        </div>
    </div>
</section>
